/* styles.css */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 36px;
    color: #e50914;
    margin: 0;
    font-weight: bold;
}

#container {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 320px;
    position: relative;
}

.dropdown-container {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #b3b3b3;
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
}

.custom-select {
    width: 90%;
    padding: 20px;
    background: #444;
    border: 1px solid #555;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.dropdown-content {
    display: none;
    background-color: #444;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-top: 5px;
}

.dropdown-content div {
    padding: 10px;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.dropdown-content div:hover {
    background-color: #555;
}

.selected-item {
    background-color: #333;
    border-radius: 3px;
    padding: 5px;
    margin: 2px;
    display: inline-flex;
    align-items: center;
}

.selected-item span {
    margin-left: 5px;
    cursor: pointer;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f40612;
}

.loader {
    display: none;
    border: 16px solid #1f1d1d;
    border-top: 16px solid #e50914;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
